VITE_ORGANIZATION_ID=
VITE_CDN_URL=https://cdn.jsdelivr.net/npm/@qratilabs/qrati-connect/element/web.es.js


# Google Tag Manager Container ID (e.g., GTM-XXXXXXX)
VITE_GTM_ID=

# Base deployment path (defaults to /connect/vue-example/)
VITE_BASE_PATH=/connect/vue-example/
